<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>Pumpen</title>
	<path d="M50,192 L128,64 L206,192 Z" stroke-width="5" stroke="#000000" fill="none" />

	<circle cx="128" cy="148" r="15" stroke-width="3" stroke="#000000" fill="none" />
	<path d="M139,138 L147,129 L154,129" stroke-width="3" stroke="#000000" fill="none" />
	<path d="M141,155 L152,161 L154,167" stroke-width="3" stroke="#000000" fill="none" />
	<path d="M125,163 L123,175 L118,179" stroke-width="3" stroke="#000000" fill="none" />
	<path d="M113,149 L101,150 L96,145" stroke-width="3" stroke="#000000" fill="none" />
	<path d="M124,134 L121,122 L124,116" stroke-width="3" stroke="#000000" fill="none" />
</svg>
